{
  "openapi": "3.0.3",
  "info": {
    "title": "Stayforge API",
    "version": "v1.1.0-pre8",
    "description": "API for managing cards within organizations. \n\n## Environment Switching\n\nThe API supports **production** and **sandbox** environments using the `X-Environment` header:\n\n- **Production** (default): Real data, affects live system\n- **Sandbox**: Isolated test environment, safe for experimentation\n\nSimply add `X-Environment: sandbox` header to route requests to sandbox database.\n\n**Example:**\n```bash\n# Production request (default)\ncurl -H \"X-API-Key: sk_org_...\" https://api.stayforge.net/v1/cards/org_123\n\n# Sandbox request\ncurl -H \"X-API-Key: sk_org_...\" \\\n     -H \"X-Environment: sandbox\" \\\n     https://api.stayforge.net/v1/cards/org_123\n```\n\nData is completely isolated between environments - changes in sandbox will not affect production.\n\n---\n\nAny Question? \n\n- [New issues](https://github.com/stayforge/Stayforge-API/issues).\n- [Documents](http://localhost:3000/apis/stayforge-api/information)\n",
    "contact": {
      "name": "Stayforge Support",
      "email": "support@stayforge.co"
    }
  },
  "servers": [
    {
      "url": "https://api.stayforge.net",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.stayforge.net",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Cards",
      "description": "Card management operations"
    },
    {
      "name": "Devices",
      "description": "Device management operations"
    }
  ],
  "paths": {
    "/v1/cards/{organization_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "List cards",
        "operationId": "ListCards",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/EnvironmentHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a card",
        "operationId": "CreateCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/EnvironmentHeader"
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "Card No. (must be unique within your organization).\nIf not provided, a unique card number will be automatically generated.\n",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 256,
              "description": "Card No. (must be unique within your organization)."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{organization_id}/{card_number}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/CardNumberPath"
        }
      ],
      "get": {
        "summary": "Card details",
        "operationId": "GetCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/EnvironmentHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a card",
        "operationId": "UpdateCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/EnvironmentHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a card",
        "operationId": "DeleteCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/EnvironmentHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API Key authentication using X-API-Key header.\nAPI keys must be prefixed with either `sk_org_` (organization-level) or `sk_ten_` (tenant-level).\nInclude the API key in the X-API-Key header as: `X-API-Key: <api_key>`\nGet your API key from the [dash.stayforge.io/settings/apikeys](https://dash.stayforge.io/settings/apikeys).\n"
      }
    },
    "schemas": {
      "Card": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CardProperties"
          },
          {
            "type": "object",
            "required": [
              "id",
              "organization_id",
              "number"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "organization_id": {
                "type": "string"
              },
              "number": {
                "type": "string",
                "minLength": 8,
                "maxLength": 256,
                "description": "Card No. (must be unique within your organization)."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "CardInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CardProperties"
          }
        ]
      },
      "CardUpdate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CardProperties"
          },
          {
            "type": "object",
            "properties": {
              "number": {
                "type": "string",
                "minLength": 8,
                "maxLength": 256,
                "nullable": true,
                "description": "Card No. (must be unique within your organization)."
              }
            }
          }
        ]
      },
      "CardListResponse": {
        "type": "object",
        "required": [
          "cards",
          "pagination"
        ],
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/card_Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": [
          "page",
          "limit",
          "total",
          "total_pages"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Number of items per page",
            "example": 20
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of items",
            "example": 100
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of pages",
            "example": 5
          },
          "has_next": {
            "type": "boolean",
            "description": "Whether there is a next page",
            "example": true
          },
          "has_prev": {
            "type": "boolean",
            "description": "Whether there is a previous page",
            "example": false
          },
          "next_page_url": {
            "type": "string",
            "nullable": true,
            "description": "URL for the next page (includes page and limit as query parameters)",
            "example": "/v1/cards/org_123?page=2&limit=20"
          },
          "prev_page_url": {
            "type": "string",
            "nullable": true,
            "description": "URL for the previous page (includes page and limit as query parameters)",
            "example": "/v1/cards/org_123?page=1&limit=20"
          },
          "first_page_url": {
            "type": "string",
            "description": "URL for the first page (includes page=1 and limit as query parameters)",
            "example": "/v1/cards/org_123?page=1&limit=20"
          },
          "last_page_url": {
            "type": "string",
            "description": "URL for the last page (includes last page number and limit as query parameters)",
            "example": "/v1/cards/org_123?page=5&limit=20"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "details": {
            "type": "object",
            "description": "Additional error details",
            "additionalProperties": true
          }
        }
      },
      "CardProperties": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "Descriptive name for the card."
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "stayforge-hotel-101"
            ],
            "description": "List of devices associated with the card."
          },
          "effective_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Effective time (when the card becomes active).\nMust be the current time or a future time.\nDefault: UTC, recommended to use the format `2025-02-16T12:00:00+01:00` to ensure the correct time zone.\nAbout ISO 8601: https://en.wikipedia.org/wiki/ISO_8601\n"
          },
          "invalid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Invalidation time (when the card becomes invalid/expires).\nMust be the current time or a future time.\nDefault: UTC, recommended to use the format `2025-02-16T12:00:00+01:00` to ensure the correct time zone.\nAbout ISO 8601: https://en.wikipedia.org/wiki/ISO_8601\n"
          }
        }
      },
      "card_Pagination": {
        "type": "object",
        "required": [
          "page",
          "limit",
          "total",
          "total_pages"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Number of items per page",
            "example": 20
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of items",
            "example": 100
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of pages",
            "example": 5
          },
          "has_next": {
            "type": "boolean",
            "description": "Whether there is a next page",
            "example": true
          },
          "has_prev": {
            "type": "boolean",
            "description": "Whether there is a previous page",
            "example": false
          },
          "next_page_url": {
            "type": "string",
            "nullable": true,
            "description": "URL for the next page (includes page and limit as query parameters)",
            "example": "/v1/cards/org_123?page=2&limit=20"
          },
          "prev_page_url": {
            "type": "string",
            "nullable": true,
            "description": "URL for the previous page (includes page and limit as query parameters)",
            "example": "/v1/cards/org_123?page=1&limit=20"
          },
          "first_page_url": {
            "type": "string",
            "description": "URL for the first page (includes page=1 and limit as query parameters)",
            "example": "/v1/cards/org_123?page=1&limit=20"
          },
          "last_page_url": {
            "type": "string",
            "description": "URL for the last page (includes last page number and limit as query parameters)",
            "example": "/v1/cards/org_123?page=5&limit=20"
          }
        }
      }
    },
    "parameters": {
      "ApiKeyHeader": {
        "name": "X-API-Key",
        "in": "header",
        "required": true,
        "description": "API Key for authentication. Get your API key from [dash.stayforge.io/settings/apikeys](https://dash.stayforge.io/settings/apikeys). \nAPI keys must be prefixed with either `sk_org_` (organization-level) or `sk_ten_` (tenant-level).\n",
        "schema": {
          "type": "string",
          "example": "sk_org_example_key_1234567890"
        }
      },
      "EnvironmentHeader": {
        "name": "X-Environment",
        "in": "header",
        "required": false,
        "description": "Environment selector for database routing.\n\n**Values:**\n- `sandbox` - Routes request to sandbox database (case-insensitive)\n- `production` or omitted - Routes request to production database (default)\n\n**Use Cases:**\n- Testing new integrations without affecting production data\n- Development and staging environments\n- Safe experimentation with API features\n\n**Data Isolation:**\n- Production and sandbox databases are completely isolated\n- Data created in sandbox will NOT appear in production\n- Data created in production will NOT appear in sandbox\n\n**Example:**\n```\n# Production request (default)\ncurl -H \"X-API-Key: sk_org_...\" https://api.stayforge.net/v1/cards/org_123\n\n# Sandbox request\ncurl -H \"X-API-Key: sk_org_...\" -H \"X-Environment: sandbox\" https://api.stayforge.net/v1/cards/org_123\n```\n",
        "schema": {
          "type": "string",
          "enum": [
            "sandbox",
            "production"
          ],
          "default": "production",
          "example": "sandbox"
        }
      },
      "OrganizationIdPath": {
        "name": "organization_id",
        "in": "path",
        "required": true,
        "description": "Organization identifier",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "example": "org_1234567890"
        }
      },
      "CardNumberPath": {
        "name": "card_number",
        "in": "path",
        "required": true,
        "description": "Card number identifier",
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 256
        }
      },
      "PageQuery": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number (starts from 1). \nPagination is mandatory for list endpoints to prevent performance issues.\nDefault: 1\n",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1,
          "example": 1
        }
      },
      "LimitQuery": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Number of items per page (1-100). \nPagination is mandatory for list endpoints to prevent performance issues.\nDefault: 20, Maximum: 100\n",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20,
          "example": 20
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}