openapi: 3.0.3
info:
  title: Stayforge API
  version: v1.1.12
  description: "API for managing cards within organizations. \n\n---\n\nAny Question?\
    \ \n\n- [New issues](https://github.com/stayforge/Stayforge-API/issues).\n- [Documents](https://docs.stayforge.io/apis/stayforge-api/information)\n"
  contact:
    name: Stayforge Support
    email: support@stayforge.co
  license:
    name: Stayforge API Terms of Service
    url: https://docs.stayforge.io/apis/stayforge-api/terms
servers:
- url: https://api.stayforge.net
  description: Production server
tags:
- name: Cards
  description: Card management operations
- name: Devices
  description: Device management operations
- name: APIKeys
  description: API Key management operations (requires User's Access Token authentication)
- name: Organizations
  description: Organization management operations (requires User's Access Token authentication)
- name: Tenants
  description: Tenant management operations (requires User's Access Token authentication)
- name: Account
  description: Account-related operations (requires User's Access Token authentication)
- name: Invites
  description: Invitation code management operations (requires User's Access Token
    authentication)
paths:
  /v1/cards/{organization_id}:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    get:
      summary: List cards
      operationId: ListCards
      tags:
      - Cards
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      - $ref: '#/components/parameters/PageQuery'
      - $ref: '#/components/parameters/LimitQuery'
      - name: tenant_id
        in: query
        required: false
        description: 'Filter cards by tenant ID. Only cards that have at least one
          device belonging to this tenant will be returned.

          If not provided, all cards in the organization are returned.

          '
        schema:
          type: string
      responses:
        '200':
          description: List of cards with pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardListResponse'
        '400':
          description: 'Bad request - Invalid path parameter format, pagination parameters,
            or validation error.

            Error codes: `invalid_request`, `invalid_pagination`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_pagination:
                  value:
                    code: invalid_pagination
                    message: page number must be at least 1
                invalid_request:
                  value:
                    code: invalid_request
                    message: Invalid request parameters
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions or
            organization_id mismatches.

            Error codes: `insufficient_permissions`, `organization_id_mismatch`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to access this resource
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
    post:
      summary: Create a card
      operationId: CreateCard
      tags:
      - Cards
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      - $ref: '#/components/parameters/CardNumberQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInput'
      responses:
        '201':
          description: Card created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: 'Bad request - Invalid request body or validation error.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions or
            organization_id mismatches.

            Error codes: `insufficient_permissions`, `organization_id_mismatch`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to create cards
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '409':
          description: 'Conflict - Card number already exists for this organization.

            Error codes: `duplicate_card_number`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                duplicate_card_number:
                  value:
                    code: duplicate_card_number
                    message: Card number already exists for this organization
        '422':
          description: 'Unprocessable Entity - Request is well-formed but contains
            semantic errors.

            Error codes: `unprocessable_entity`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unprocessable_entity:
                  value:
                    code: unprocessable_entity
                    message: Device validation failed
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `create_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                create_error:
                  value:
                    code: create_error
                    message: 'Failed to create card: failed to save card'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/cards/{organization_id}/{card_number}:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    - $ref: '#/components/parameters/CardNumberPath'
    get:
      summary: Card details
      operationId: GetCard
      tags:
      - Cards
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Card details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: 'Bad request - Invalid path parameter format or request parameters.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: Invalid request parameters
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions or
            organization_id mismatches.

            Error codes: `insufficient_permissions`, `organization_id_mismatch`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to access this card
        '404':
          description: 'Not found - Card does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Card not found: card_number'
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    patch:
      summary: Update a card
      operationId: UpdateCard
      tags:
      - Cards
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardUpdate'
      responses:
        '200':
          description: Card updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: 'Bad request - Invalid request body or validation error.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions or
            organization_id mismatches.

            Error codes: `insufficient_permissions`, `organization_id_mismatch`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to update cards
        '404':
          description: 'Not found - Card does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Card not found: card_number'
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '409':
          description: 'Conflict - Card number already exists for this organization.

            Error codes: `duplicate_card_number`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                duplicate_card_number:
                  value:
                    code: duplicate_card_number
                    message: Card number already exists for this organization
        '422':
          description: 'Unprocessable Entity - Request is well-formed but contains
            semantic errors.

            Error codes: `unprocessable_entity`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unprocessable_entity:
                  value:
                    code: unprocessable_entity
                    message: Device validation failed or invalid effective_at/invalid_at
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `update_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                update_error:
                  value:
                    code: update_error
                    message: 'Failed to update card: failed to update card'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    delete:
      summary: Delete a card
      operationId: DeleteCard
      tags:
      - Cards
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '204':
          description: Deleted
        '400':
          description: 'Bad request - Invalid path parameter format or request parameters.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: Invalid request parameters
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions or
            organization_id mismatches.

            Error codes: `insufficient_permissions`, `organization_id_mismatch`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to delete cards
        '404':
          description: 'Not found - Card does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Card not found: card_number'
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `delete_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                delete_error:
                  value:
                    code: delete_error
                    message: 'Failed to delete card: failed to delete card'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/devices/{organization_id}/{tenant_id}:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    - $ref: '#/components/parameters/TenantIdPath'
    get:
      summary: List devices
      operationId: ListDevices
      tags:
      - Devices
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      - $ref: '#/components/parameters/PageQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: List of devices with pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponse'
        '400':
          description: 'Bad request - Invalid path parameter format, pagination parameters,
            or validation error.

            Error codes: `invalid_request`, `invalid_pagination`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_pagination:
                  value:
                    code: invalid_pagination
                    message: page number must be at least 1
                invalid_request:
                  value:
                    code: invalid_request
                    message: Invalid request parameters
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions or
            organization_id mismatches.

            Error codes: `insufficient_permissions`, `organization_id_mismatch`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to access this resource
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
    post:
      summary: Create a device
      operationId: CreateDevice
      tags:
      - Devices
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceInput'
      responses:
        '201':
          description: Device created successfully
          headers:
            Location:
              description: URL of the created device
              schema:
                type: string
                example: /v1/devices/org_xxxxxxxxxx/ten_xxxxxxxxxx/dev_xxxxxxxxxx
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: 'Bad request - Invalid path parameter format, request body,
            validation error, or tenant not found.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
                tenant_not_found:
                  value:
                    code: invalid_request
                    message: 'Tenant not found: ten_xxxxxxxxxx'
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions or
            organization_id mismatches.

            Error codes: `insufficient_permissions`, `organization_id_mismatch`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to create devices
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '409':
          description: 'Conflict - Device ID already exists for this tenant.

            Error codes: `duplicate_device_id`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                duplicate_device_id:
                  value:
                    code: duplicate_device_id
                    message: Device ID already exists for this tenant
  /v1/devices/{organization_id}/{tenant_id}/{device_id}:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    - $ref: '#/components/parameters/TenantIdPath'
    - $ref: '#/components/parameters/DeviceIdPath'
    get:
      summary: Device details
      operationId: GetDevice
      tags:
      - Devices
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Device details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '404':
          description: 'Not found - Device does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Device not found: device_id'
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
    patch:
      summary: Update a device
      operationId: UpdateDevice
      tags:
      - Devices
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdate'
      responses:
        '200':
          description: Device updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: 'Bad request - Invalid path parameter format, request body,
            or validation error.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
        '404':
          description: 'Not found - Device does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Device not found: device_id'
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '409':
          description: 'Conflict - Device ID already exists for this tenant.

            Error codes: `duplicate_device_id`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                duplicate_device_id:
                  value:
                    code: duplicate_device_id
                    message: Device ID already exists for this tenant
    delete:
      summary: Delete a device
      operationId: DeleteDevice
      tags:
      - Devices
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '204':
          description: Deleted
        '404':
          description: 'Not found - Device does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Device not found: device_id'
        '406':
          description: 'Not Acceptable - Both authentication methods (X-API-Key and
            Authorization Bearer token) are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
  /v1/devices/sn/{sn}:
    parameters:
    - name: sn
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 256
      description: Device serial number
      example: SFVA78RABZ12345678
    get:
      summary: Get device information by serial number
      description: 'Query device information from the SN database using a serial number.

        Returns model name, production date, and warranty information if available.

        '
      operationId: GetDeviceSN
      tags:
      - Devices
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Device information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceInfo'
              example:
                sn: SFVA78RABZ12345678
                model_name: VG-M350
                production_date: 2025-01
                warranty_expiry_date: '2027-01-31'
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to access this resource
        '404':
          description: Serial number not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: Serial number not found
        '406':
          description: 'Not Acceptable - Both authentication methods are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '503':
          description: SN database service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_unavailable:
                  value:
                    code: service_unavailable
                    message: SN database service is not available
  /v1/devices/sn/{sn}/owner:
    parameters:
    - name: sn
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 256
      description: Device serial number
      example: SFVA78RABZ12345678
    get:
      summary: Get device owner by serial number
      description: 'Look up which organization owns a device by its serial number.

        Returns the organization ID and device ID from the SN registry.

        '
      operationId: GetDeviceSNOwner
      tags:
      - Devices
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Device owner information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSNOwner'
              example:
                sn: SFVA78RABZ12345678
                organization_id: org_abc123
                device_id: dev_001
        '401':
          description: 'Unauthorized - Missing or invalid API key.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: invalid or missing API key'
        '403':
          description: 'Forbidden - API key does not have required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: API key does not have permission to access this resource
        '404':
          description: Serial number not found in registry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: Serial number not found in registry
        '406':
          description: 'Not Acceptable - Both authentication methods are missing.

            Error codes: `not_acceptable`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_acceptable:
                  value:
                    code: not_acceptable
                    message: Both authentication methods are missing
        '503':
          description: SN registry service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_unavailable:
                  value:
                    code: service_unavailable
                    message: SN registry service is not available
  /v1/organizations/{organization_id}/apikeys:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    post:
      summary: Create an API key
      operationId: CreateAPIKey
      tags:
      - APIKeys
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyInput'
      responses:
        '201':
          description: API key created successfully
          headers:
            Location:
              description: URL of the created API key
              schema:
                type: string
                example: /v1/organizations/org_xxxxxxxxxx/apikeys/apikey_xxxxxxxxxx
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreate'
        '400':
          description: 'Bad request - Invalid request body or validation error.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: json: cannot unmarshal string
                      into Go struct field'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User does not have admin or owner role to manage
            API keys.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to manage API keys
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `create_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                create_error:
                  value:
                    code: create_error
                    message: 'Failed to create API key: failed to save API key'
                service_error:
                  value:
                    code: service_error
                    message: 'failed to initialize API key service: APIKEY_SIGNING_SECRET
                      environment variable is not set'
    get:
      summary: List API keys
      operationId: ListAPIKeys
      tags:
      - APIKeys
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      - $ref: '#/components/parameters/PageQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: List of API keys with pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '400':
          description: 'Bad request - Invalid path parameter format or pagination
            parameters.

            Error codes: `invalid_pagination`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_pagination:
                  value:
                    code: invalid_pagination
                    message: page number must be at least 1
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User does not have admin or owner role to manage
            API keys.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to manage API keys
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `list_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                list_error:
                  value:
                    code: list_error
                    message: 'Failed to list API keys: failed to query API keys'
                service_error:
                  value:
                    code: service_error
                    message: 'failed to initialize API key service: APIKEY_SIGNING_SECRET
                      environment variable is not set'
  /v1/organizations/{organization_id}/apikeys/{apikey_id}:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    - $ref: '#/components/parameters/APIKeyIdPath'
    get:
      summary: Get API key details
      operationId: GetAPIKey
      tags:
      - APIKeys
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: API key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyList'
        '400':
          description: 'Bad request - Invalid path parameter format.

            Error codes: `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User does not have admin or owner role to manage
            API keys.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to manage API keys
        '404':
          description: 'Not found - API key does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'API key not found: b9d0e02cb283477aa6e174053934b0e4'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: 'failed to initialize API key service: APIKEY_SIGNING_SECRET
                      environment variable is not set'
    patch:
      summary: Update an API key
      operationId: UpdateAPIKey
      tags:
      - APIKeys
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyUpdate'
      responses:
        '200':
          description: API key updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyList'
        '400':
          description: 'Bad request - Invalid request body or validation error.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: json: cannot unmarshal string
                      into Go struct field'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User does not have admin or owner role to manage
            API keys.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to manage API keys
        '404':
          description: 'Not found - API key does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'API key not found: b9d0e02cb283477aa6e174053934b0e4'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `update_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                update_error:
                  value:
                    code: update_error
                    message: 'Failed to update API key: failed to update API key'
                service_error:
                  value:
                    code: service_error
                    message: 'failed to initialize API key service: APIKEY_SIGNING_SECRET
                      environment variable is not set'
    delete:
      summary: Delete an API key
      operationId: DeleteAPIKey
      tags:
      - APIKeys
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '204':
          description: API key deleted successfully
        '400':
          description: 'Bad request - Invalid path parameter format.

            Error codes: `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User does not have admin or owner role to manage
            API keys.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to manage API keys
        '404':
          description: 'Not found - API key does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'API key not found: b9d0e02cb283477aa6e174053934b0e4'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `delete_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                delete_error:
                  value:
                    code: delete_error
                    message: 'Failed to delete API key: failed to delete API key'
                service_error:
                  value:
                    code: service_error
                    message: 'failed to initialize API key service: APIKEY_SIGNING_SECRET
                      environment variable is not set'
  /v1/my_resources:
    get:
      summary: List my resources
      operationId: ListMyResources
      tags:
      - Account
      description: 'List all resources (organizations and tenants) that the current
        user belongs to.

        This endpoint combines the functionality of listing organizations and tenants
        into a single call.

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: List of user's resources (organizations and tenants)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyResources'
        '401':
          description: Unauthorized - Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/organizations/data/role:
    get:
      summary: Get Organization Roles
      operationId: GetOrganizationRoles
      tags:
      - Organizations
      security: []
      description: Retrieve available roles for organization members
      responses:
        '200':
          description: List of available organization roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MemberRoleEnum'
        '400':
          description: 'Bad request - Invalid request parameters.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: Invalid request parameters
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/organizations:
    get:
      summary: List my organizations
      operationId: ListMyOrganizations
      tags:
      - Organizations
      - Account
      description: 'List the current user''s active organizations. Archived organizations
        are excluded from this list.

        To view archived organizations, use the `/organizations/archived` endpoint.

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      - $ref: '#/components/parameters/PageQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: List of active organizations with pagination (archived organizations
            are excluded)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `list_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                list_error:
                  value:
                    code: list_error
                    message: 'Failed to list organizations: failed to query organizations'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    post:
      summary: Create a Organization
      operationId: CreateOrganization
      tags:
      - Organizations
      description: 'Create a Organization including: **Name, Description, Custom Domain,
        Billing Address, Domain, Organization Id, Archive At, Metadata, Stripe Customer
        Id, Memberships, Apikey, Billing Info**

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInput'
      responses:
        '201':
          description: Organization created successfully
          headers:
            Location:
              description: URL of the created organization
              schema:
                type: string
                example: /v1/organizations/org_xxxxxxxxxx
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetail'
        '400':
          description: 'Bad request - Invalid path parameter format, request body,
            or validation error.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `create_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                create_error:
                  value:
                    code: create_error
                    message: 'Failed to create organization: failed to save organization'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/organizations/archived:
    get:
      summary: List my archived organizations
      operationId: ListMyArchivedOrganizations
      tags:
      - Organizations
      - Account
      description: List the current user's archived organizations.
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      - $ref: '#/components/parameters/PageQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: List of archived organizations with pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '401':
          description: Unauthorized - Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/organizations/domain/check:
    parameters:
    - name: domain
      in: query
      required: true
      description: "Organization domain name to check. \n`*.stayforge.app`, domain\
        \ prefix must be 4-64 characters, containing only lowercase letters and numbers.\n"
      schema:
        type: string
        minLength: 18
        maxLength: 78
        pattern: ^[a-z0-9]{4,64}\.stayforge\.app$
        example: myorg123.stayforge.app
    get:
      summary: Check whether the organization domain name is occupied
      operationId: CheckOrganizationDomain
      tags:
      - Organizations
      description: '`*.stayforge.app`, domain prefix must be 4-64 characters, containing
        only lowercase letters and numbers.

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: Domain availability check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                    description: Whether the domain is available
                  domain:
                    type: string
                    description: The domain being checked
        '400':
          description: 'Bad request - Invalid domain format or validation error.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid domain format: domain must match pattern ^[a-z0-9]{4,64}\.stayforge\.app$'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/organizations/{organization_id}:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    get:
      summary: Get a Organization information
      operationId: GetOrganization
      tags:
      - Organizations
      description: 'Get all information about the Organization, including: **Name,
        Description, Custom Domain, Billing Address, Domain, Organization Id, Archive
        At, Metadata, Stripe Customer Id, Memberships, Apikey, Billing Info**

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: Organization information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetail'
        '400':
          description: 'Bad request - Invalid path parameter format.

            Error codes: `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '404':
          description: 'Not found - Organization does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Organization not found: org_xxxxxxxxxx'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    patch:
      summary: Update a Organization.
      operationId: UpdateOrganization
      tags:
      - Organizations
      description: Update all or part of organization information.
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
      responses:
        '200':
          description: Organization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetail'
        '400':
          description: 'Bad request - Invalid path parameter format, request body,
            or validation error.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User lacks required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to update organization
        '404':
          description: 'Not found - Organization does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Organization not found: org_xxxxxxxxxx'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `update_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                update_error:
                  value:
                    code: update_error
                    message: 'Failed to update organization: failed to update organization'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    delete:
      summary: Delete a Organization
      operationId: DeleteOrganization
      tags:
      - Organizations
      description: 'Permanently delete an organization. **Only archived organizations
        can be deleted.**

        **You must cancel all Subscriptions and delete all Tenants within the organization
        before deleting them.**

        Otherwise, payment will continue to be deducted after deletion.

        This is a permanent operation and cannot be undone.

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '204':
          description: Organization deleted successfully
        '400':
          description: 'Bad request - Organization is not archived.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Organization is not archived: only archived organizations
                      can be deleted'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User lacks required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to delete organization
        '404':
          description: 'Not found - Organization does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Organization not found: org_xxxxxxxxxx'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `delete_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                delete_error:
                  value:
                    code: delete_error
                    message: 'Failed to delete organization: failed to delete organization'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/organizations/{organization_id}/archive:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    post:
      summary: Archive a Organization
      operationId: ArchiveOrganization
      tags:
      - Organizations
      description: 'Archive an organization. This will set the archive_at field, marking
        the organization as archived.

        Archived organizations are excluded from the active organizations list but
        can be viewed via the archived organizations endpoint.


        **Important:** Before archiving, the system will check if the organization
        has any active Stripe subscriptions.

        If active subscriptions are found, the archive operation will be rejected.
        You must cancel all subscriptions first.

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: Organization archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetail'
        '400':
          description: 'Bad request. Possible reasons:

            - Organization is already archived

            - Organization has active Stripe subscriptions (must cancel all subscriptions
            first)

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Organization has active Stripe subscriptions: must cancel
                      all subscriptions first'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User lacks required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to archive organization
        '404':
          description: 'Not found - Organization does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Organization not found: org_xxxxxxxxxx'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    delete:
      summary: Unarchive a Organization
      operationId: UnarchiveOrganization
      tags:
      - Organizations
      description: 'Unarchive a previously archived organization. This will restore
        the organization to active status by clearing the archive_at field.

        '
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: Organization unarchived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDetail'
        '400':
          description: 'Bad request - Organization is not archived.

            Error codes: `invalid_request`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Organization is not archived: cannot unarchive a non-archived
                      organization'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User lacks required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to unarchive organization
        '404':
          description: 'Not found - Organization does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Organization not found: org_xxxxxxxxxx'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/organizations/{organization_id}/memberships:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    get:
      summary: List organization memberships
      operationId: ListOrganizationMemberships
      tags:
      - Organizations
      description: List all memberships of the organization.
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      - $ref: '#/components/parameters/PageQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: List of organization memberships with pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembershipListResponse'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '404':
          description: 'Not found - Organization does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Organization not found: org_xxxxxxxxxx'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `list_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                list_error:
                  value:
                    code: list_error
                    message: 'Failed to list organization memberships: failed to query
                      memberships'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    post:
      summary: Add member to organization
      operationId: CreateOrganizationMembership
      tags:
      - Organizations
      description: Add a new member to the organization. Requires admin or owner role.
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationMembershipCreate'
      responses:
        '201':
          description: Membership created successfully
          headers:
            Location:
              description: URL of the created organization membership
              schema:
                type: string
                example: /v1/organizations/org_xxxxxxxxxx/memberships/auth0|xxxxxxxxxxxxxxx
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          description: 'Bad request - Invalid path parameter format, request body,
            or validation error.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User lacks required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to manage organization
                      memberships
        '404':
          description: 'Not found - Organization does not exist or has been deleted.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: 'Organization not found: org_xxxxxxxxxx'
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `create_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                create_error:
                  value:
                    code: create_error
                    message: 'Failed to create organization membership: failed to
                      save membership'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
  /v1/organizations/{organization_id}/memberships/{member_sub}:
    parameters:
    - $ref: '#/components/parameters/OrganizationIdPath'
    - $ref: '#/components/parameters/MemberSubPath'
    get:
      summary: Get organization membership
      operationId: GetOrganizationMembership
      tags:
      - Organizations
      description: Get a specific membership in the organization.
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: Organization membership information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          description: 'Bad request - Invalid path parameter format.

            Error codes: `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '404':
          description: 'Not found - Organization membership does not exist.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: Organization membership not found
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    patch:
      summary: Update organization membership
      operationId: UpdateOrganizationMembership
      tags:
      - Organizations
      description: Update a member's role in the organization. Requires admin or owner
        role.
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationMembershipUpdate'
      responses:
        '200':
          description: Membership updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          description: 'Bad request - Invalid path parameter format, request body,
            or validation error.

            Error codes: `invalid_request`, `invalid_path_parameter`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_path_parameter:
                  value:
                    code: invalid_path_parameter
                    message: organization_id must match pattern ^org_[a-zA-Z0-9_-]+$
                invalid_request:
                  value:
                    code: invalid_request
                    message: 'Invalid request body: validation failed'
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User lacks required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to update organization
                      membership
        '404':
          description: 'Not found - Organization membership does not exist.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: Organization membership not found
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `update_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                update_error:
                  value:
                    code: update_error
                    message: 'Failed to update organization membership: failed to
                      update membership'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
    delete:
      summary: Remove member from organization
      operationId: DeleteOrganizationMembership
      tags:
      - Organizations
      description: Remove a member from the organization. Requires admin or owner
        role. Cannot remove the last owner.
      security:
      - UserAccessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '204':
          description: Membership deleted successfully
        '401':
          description: 'Unauthorized - Missing or invalid authentication token.

            Error codes: `authentication_required`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authentication_required:
                  value:
                    code: authentication_required
                    message: 'authentication required: failed to get user info from
                      context'
        '403':
          description: 'Forbidden - User lacks required permissions.

            Error codes: `insufficient_permissions`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_permissions:
                  value:
                    code: insufficient_permissions
                    message: you must have admin or owner role to delete organization
                      membership
        '404':
          description: 'Not found - Organization membership does not exist.

            Error codes: `not_found`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    code: not_found
                    message: Organization membership not found
        '500':
          description: 'Internal server error - Service or database error occurred.

            Error codes: `service_error`, `delete_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                delete_error:
                  value:
                    code: delete_error
                    message: 'Failed to delete organization membership: failed to
                      delete membership'
                service_error:
                  value:
                    code: service_error
                    message: Internal server error occurred
[...]
