{
  "openapi": "3.0.3",
  "info": {
    "title": "Stayforge API",
    "version": "v1.1.0-pre27",
    "description": "API for managing cards within organizations. \n\n---\n\nAny Question? \n\n- [New issues](https://github.com/stayforge/Stayforge-API/issues).\n- [Documents](https://docs.stayforge.io/apis/stayforge-api/information)\n",
    "contact": {
      "name": "Stayforge Support",
      "email": "support@stayforge.co"
    },
    "license": {
      "name": "Stayforge API Terms of Service",
      "url": "https://docs.stayforge.io/apis/stayforge-api/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.stayforge.net",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Cards",
      "description": "Card management operations"
    },
    {
      "name": "Devices",
      "description": "Device management operations"
    },
    {
      "name": "APIKeys",
      "description": "API Key management operations (requires User's Access Token authentication)"
    },
    {
      "name": "Organizations",
      "description": "Organization management operations (requires User's Access Token authentication)"
    },
    {
      "name": "Tenants",
      "description": "Tenant management operations (requires User's Access Token authentication)"
    },
    {
      "name": "Account",
      "description": "Account-related operations (requires User's Access Token authentication)"
    },
    {
      "name": "Invites",
      "description": "Invitation code management operations (requires User's Access Token authentication)"
    }
  ],
  "paths": {
    "/v1/cards/{organization_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "List cards",
        "operationId": "ListCards",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "description": "Filter cards by tenant ID. Only cards that have at least one device belonging to this tenant will be returned.\nIf not provided, all cards in the organization are returned.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a card",
        "operationId": "CreateCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "Card No. (must be unique within your organization).\nIf not provided, a unique card number will be automatically generated.\n",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 256,
              "description": "Card No. (must be unique within your organization)."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Card created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created card",
                "schema": {
                  "type": "string",
                  "example": "/v1/cards/org_xxxxxxxxxx/1234567890123456"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{organization_id}/{card_number}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/CardNumberPath"
        }
      ],
      "get": {
        "summary": "Card details",
        "operationId": "GetCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a card",
        "operationId": "UpdateCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a card",
        "operationId": "DeleteCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{organization_id}/{tenant_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/device_TenantIdPath"
        }
      ],
      "get": {
        "summary": "List devices",
        "operationId": "ListDevices",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of devices with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a device",
        "operationId": "CreateDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Device created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created device",
                "schema": {
                  "type": "string",
                  "example": "/v1/devices/org_xxxxxxxxxx/ten_xxxxxxxxxx/dev_xxxxxxxxxx"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{organization_id}/{tenant_id}/{device_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/device_TenantIdPath"
        },
        {
          "$ref": "#/components/parameters/DeviceIdPath"
        }
      ],
      "get": {
        "summary": "Device details",
        "operationId": "GetDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Device details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a device",
        "operationId": "UpdateDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a device",
        "operationId": "DeleteDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/apikeys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "post": {
        "summary": "Create an API key",
        "operationId": "CreateAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created API key",
                "schema": {
                  "type": "string",
                  "example": "/v1/organizations/org_xxxxxxxxxx/apikeys/apikey_xxxxxxxxxx"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyCreate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid request body or validation error.\nError codes: `invalid_request`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "value": {
                      "code": "invalid_request",
                      "message": "Invalid request body: json: cannot unmarshal string into Go struct field"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `create_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "create_error": {
                    "value": {
                      "code": "create_error",
                      "message": "Failed to create API key: failed to save API key"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API keys",
        "operationId": "ListAPIKeys",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid pagination parameters.\nError codes: `invalid_pagination`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_pagination": {
                    "value": {
                      "code": "invalid_pagination",
                      "message": "page number must be at least 1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `list_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "list_error": {
                    "value": {
                      "code": "list_error",
                      "message": "Failed to list API keys: failed to query API keys"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/apikeys/{apikey_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/APIKeyIdPath"
        }
      ],
      "get": {
        "summary": "Get API key details",
        "operationId": "GetAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - API key does not exist or has been deleted.\nError codes: `not_found`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "code": "not_found",
                      "message": "API key not found: b9d0e02cb283477aa6e174053934b0e4"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an API key",
        "operationId": "UpdateAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid request body or validation error.\nError codes: `invalid_request`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "value": {
                      "code": "invalid_request",
                      "message": "Invalid request body: json: cannot unmarshal string into Go struct field"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - API key does not exist or has been deleted.\nError codes: `not_found`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "code": "not_found",
                      "message": "API key not found: b9d0e02cb283477aa6e174053934b0e4"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `update_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "update_error": {
                    "value": {
                      "code": "update_error",
                      "message": "Failed to update API key: failed to update API key"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an API key",
        "operationId": "DeleteAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "API key deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - API key does not exist or has been deleted.\nError codes: `not_found`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "code": "not_found",
                      "message": "API key not found: b9d0e02cb283477aa6e174053934b0e4"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `delete_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "delete_error": {
                    "value": {
                      "code": "delete_error",
                      "message": "Failed to delete API key: failed to delete API key"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/my_resources": {
      "get": {
        "summary": "List my resources",
        "operationId": "ListMyResources",
        "tags": [
          "Account"
        ],
        "description": "List all resources (organizations and tenants) that the current user belongs to.\nThis endpoint combines the functionality of listing organizations and tenants into a single call.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's resources (organizations and tenants)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyResources"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/data/role": {
      "get": {
        "summary": "Get Organization Roles",
        "operationId": "GetOrganizationRoles",
        "tags": [
          "Organizations"
        ],
        "description": "Retrieve available roles for organization members",
        "responses": {
          "200": {
            "description": "List of available organization roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MemberRoleEnum"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations": {
      "get": {
        "summary": "List my organizations",
        "operationId": "ListMyOrganizations",
        "tags": [
          "Organizations",
          "Account"
        ],
        "description": "List the current user's active organizations. Archived organizations are excluded from this list.\nTo view archived organizations, use the `/organizations/archived` endpoint.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of active organizations with pagination (archived organizations are excluded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Organization",
        "operationId": "CreateOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Create a Organization including: **Name, Description, Custom Domain, Billing Address, Domain, Organization Id, Archive At, Metadata, Stripe Customer Id, Memberships, Apikey, Billing Info**\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created organization",
                "schema": {
                  "type": "string",
                  "example": "/v1/organizations/org_xxxxxxxxxx"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/archived": {
      "get": {
        "summary": "List my archived organizations",
        "operationId": "ListMyArchivedOrganizations",
        "tags": [
          "Organizations",
          "Account"
        ],
        "description": "List the current user's archived organizations.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of archived organizations with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/domain/check": {
      "parameters": [
        {
          "name": "domain",
          "in": "query",
          "required": true,
          "description": "Organization domain name to check. \n`*.stayforge.app`, domain prefix must be 4-64 characters, containing only lowercase letters and numbers.\n",
          "schema": {
            "type": "string",
            "minLength": 18,
            "maxLength": 78,
            "pattern": "^[a-z0-9]{4,64}\\.stayforge\\.app$",
            "example": "myorg123.stayforge.app"
          }
        }
      ],
      "get": {
        "summary": "Check whether the organization domain name is occupied",
        "operationId": "CheckOrganizationDomain",
        "tags": [
          "Organizations"
        ],
        "description": "`*.stayforge.app`, domain prefix must be 4-64 characters, containing only lowercase letters and numbers.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean",
                      "description": "Whether the domain is available"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain being checked"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "Get a Organization information",
        "operationId": "GetOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Get all information about the Organization, including: **Name, Description, Custom Domain, Billing Address, Domain, Organization Id, Archive At, Metadata, Stripe Customer Id, Memberships, Apikey, Billing Info**\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a Organization.",
        "operationId": "UpdateOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Update all or part of organization information.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Organization",
        "operationId": "DeleteOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Permanently delete an organization. **Only archived organizations can be deleted.**\n**You must cancel all Subscriptions and delete all Tenants within the organization before deleting them.**\nOtherwise, payment will continue to be deducted after deletion.\nThis is a permanent operation and cannot be undone.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Organization is not archived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "post": {
        "summary": "Archive a Organization",
        "operationId": "ArchiveOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Archive an organization. This will set the archive_at field, marking the organization as archived.\nArchived organizations are excluded from the active organizations list but can be viewed via the archived organizations endpoint.\n\n**Important:** Before archiving, the system will check if the organization has any active Stripe subscriptions.\nIf active subscriptions are found, the archive operation will be rejected. You must cancel all subscriptions first.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Possible reasons:\n- Organization is already archived\n- Organization has active Stripe subscriptions (must cancel all subscriptions first)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Unarchive a Organization",
        "operationId": "UnarchiveOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Unarchive a previously archived organization. This will restore the organization to active status by clearing the archive_at field.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization unarchived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Organization is not archived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/memberships": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "List organization memberships",
        "operationId": "ListOrganizationMemberships",
        "tags": [
          "Organizations"
        ],
        "description": "List all memberships of the organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization memberships with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembershipListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add member to organization",
        "operationId": "CreateOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Add a new member to the organization. Requires admin or owner role.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationMembershipCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Membership created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created organization membership",
                "schema": {
                  "type": "string",
                  "example": "/v1/organizations/org_xxxxxxxxxx/memberships/auth0|xxxxxxxxxxxxxxx"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/memberships/{member_sub}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/MemberSubPath"
        }
      ],
      "get": {
        "summary": "Get organization membership",
        "operationId": "GetOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Get a specific membership in the organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization membership information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update organization membership",
        "operationId": "UpdateOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Update a member's role in the organization. Requires admin or owner role.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationMembershipUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove member from organization",
        "operationId": "DeleteOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Remove a member from the organization. Requires admin or owner role. Cannot remove the last owner.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Membership deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/memberships/me": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "delete": {
        "summary": "Leave organization",
        "operationId": "LeaveOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Leave the organization. This allows the current authenticated user to remove themselves from the organization.\n**Security:** Users can only remove their own membership. The user_sub is automatically extracted from the authentication token.\n**Restrictions:**\n- Owners cannot leave the organization unless it is archived (archive_at is not null).\n- If the organization is archived, owners can leave even if they are the last owner (no need to transfer ownership).\n- If the organization is not archived, owners must transfer ownership before leaving (cannot be the last owner).\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully left the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Possible reasons:\n- Owners cannot leave the organization unless it is archived\n- Cannot leave as the last owner (safety check for non-owners)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User is not a member of the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/tenants": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "List tenants in Organization",
        "operationId": "ListOrganizationTenants",
        "tags": [
          "Organizations",
          "Tenants"
        ],
        "description": "List all tenants of organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenants with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/tenant/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "post": {
        "summary": "Create a tenant in Organization",
        "operationId": "CreateOrganizationTenant",
        "tags": [
          "Organizations",
          "Tenants"
        ],
        "description": "Create a tenant in organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created tenant",
                "schema": {
                  "type": "string",
                  "example": "/v1/organizations/org_xxxxxxxxxx/tenants/ten_xxxxxxxxxx"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "post": {
        "summary": "Create invitation code",
        "operationId": "CreateInvitationCode",
        "tags": [
          "Invites"
        ],
        "description": "Create a new invitation code for the specified organization.\n\n**Authentication:** User Access Token required.\n- User Token: Requires `admin` or `owner` role in the organization\n\n**Note:** The `owner` role cannot be assigned via invitation codes.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteCodeCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation code created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created invitation code",
                "schema": {
                  "type": "string",
                  "example": "/v1/organizations/org_xxx/invites/inv_abc123"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid target_role, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List invitation codes",
        "operationId": "ListInvitationCodes",
        "tags": [
          "Invites"
        ],
        "description": "Retrieve all invitation codes for the specified organization with pagination and status filtering.\n\n**Authentication:** User Access Token required.\n- User Token: Requires `admin` or `owner` role in the organization\n\n**Status Filtering:**\n- `active`: Active and usable codes (default)\n- `expired`: Codes that have passed their expiration date\n- `exhausted`: Codes that have reached their usage limit\n- `revoked`: Codes that have been deactivated\n- `all`: Return all codes regardless of status\n\nResults are sorted by `created_at` descending (newest first).\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/InviteStatusQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of invitation codes with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCodeListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/invites/{invite_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/InviteIdPath"
        }
      ],
      "get": {
        "summary": "Get invitation code details",
        "operationId": "GetInvitationCode",
        "tags": [
          "Invites"
        ],
        "description": "Retrieve details of a specific invitation code.\n\n**Authentication:** User Access Token required.\n- User Token: Requires `admin` or `owner` role in the organization\n\n**Security:** The invitation code must belong to the organization specified in the path parameter.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation code details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCode"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Invitation code or organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke invitation code",
        "operationId": "RevokeInvitationCode",
        "tags": [
          "Invites"
        ],
        "description": "Revoke/deactivate a specific invitation code. The code cannot be used after revocation.\n\n**Authentication:** User Access Token required.\n- User Token: Requires `admin` or `owner` role in the organization\n\n**Security:** The invitation code must belong to the organization specified in the path parameter.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation code revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCode"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Invitation code or organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invites/join": {
      "post": {
        "summary": "Join organization by invitation code",
        "operationId": "JoinOrganizationByInvite",
        "tags": [
          "Invites"
        ],
        "description": "User joins an organization using an invitation code.\n\n**Authentication:** User Access Token required.\n\nThis endpoint requires a User Access Token to identify the specific user who is joining the organization.\n\n**Business Logic:**\n1. Validates the invitation code exists and is active\n2. Checks expiration and usage limits\n3. Verifies user is not already a member\n4. Adds user to organization membership with the target role\n5. Atomically increments usage counter\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteJoinRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully joined the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteJoinResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid invitation code or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid UserAccessToken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - User is already a member of this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/data/environment": {
      "get": {
        "summary": "Get Environment Types",
        "operationId": "GetTenantEnvironments",
        "tags": [
          "Tenants"
        ],
        "description": "Retrieve available environment types for tenants",
        "responses": {
          "200": {
            "description": "List of available environment types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantEnvironmentEnum"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/data/role": {
      "get": {
        "summary": "Get Tenant Roles",
        "operationId": "GetTenantRoles",
        "tags": [
          "Tenants"
        ],
        "description": "Retrieve available roles for tenant members",
        "responses": {
          "200": {
            "description": "List of available tenant roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MemberRoleEnum"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/tenants/{tenant_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/TenantIdPath"
        }
      ],
      "get": {
        "summary": "Get a Tenant information",
        "operationId": "GetTenant",
        "tags": [
          "Tenants"
        ],
        "description": "Get all information about the Tenant, including: **Name, Description, Environment, Parent Organization, Tenant Id, Archive At, Metadata, Memberships, Apikey, Metrics**\n\n**Metrics:**\n- Real-time metrics (devices, cards) are cached for 15 minutes to improve performance\n- Some metrics fields may be null if the logging system is not yet implemented\n- Yesterday snapshot metrics require the logging system to be fully implemented\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a Tenant.",
        "operationId": "UpdateTenant",
        "tags": [
          "Tenants"
        ],
        "description": "Update all or part of tenant information.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Tenant",
        "operationId": "DeleteTenant",
        "tags": [
          "Tenants"
        ],
        "description": "Permanently delete a tenant. **Only archived tenants can be deleted.**\nThis is a permanent operation and cannot be undone.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Tenant is not archived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/tenants/{tenant_id}/archive": {
      "parameters": [
        {
[...]
