{
  "openapi": "3.0.3",
  "info": {
    "title": "Stayforge API",
    "version": "v1.1.0-alpha.2",
    "description": "API for managing cards within organizations. \n\n---\n\nAny Question? \n\n- [New issues](https://github.com/stayforge/Stayforge-API/issues).\n- [Documents](https://docs.stayforge.io/apis/stayforge-api/information)\n",
    "contact": {
      "name": "Stayforge Support",
      "email": "support@stayforge.co"
    }
  },
  "servers": [
    {
      "url": "https://api.stayforge.net",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Cards",
      "description": "Card management operations"
    },
    {
      "name": "Devices",
      "description": "Device management operations"
    },
    {
      "name": "APIKeys",
      "description": "API Key management operations (requires User's Access Token authentication)"
    },
    {
      "name": "Organizations",
      "description": "Organization management operations (requires User's Access Token authentication)"
    },
    {
      "name": "Tenants",
      "description": "Tenant management operations (requires User's Access Token authentication)"
    },
    {
      "name": "Account",
      "description": "Account-related operations (requires User's Access Token authentication)"
    }
  ],
  "paths": {
    "/v1/cards/{organization_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "List cards",
        "operationId": "ListCards",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a card",
        "operationId": "CreateCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "Card No. (must be unique within your organization).\nIf not provided, a unique card number will be automatically generated.\n",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 256,
              "description": "Card No. (must be unique within your organization)."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{organization_id}/{card_number}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/CardNumberPath"
        }
      ],
      "get": {
        "summary": "Card details",
        "operationId": "GetCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a card",
        "operationId": "UpdateCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a card",
        "operationId": "DeleteCard",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/devices/{organization_id}/{tenant_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/device_TenantIdPath"
        }
      ],
      "get": {
        "summary": "List devices",
        "operationId": "ListDevices",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of devices with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a device",
        "operationId": "CreateDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Device created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{organization_id}/{tenant_id}/{device_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/device_TenantIdPath"
        },
        {
          "$ref": "#/components/parameters/DeviceIdPath"
        }
      ],
      "get": {
        "summary": "Device details",
        "operationId": "GetDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Device details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a device",
        "operationId": "UpdateDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a device",
        "operationId": "DeleteDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/apikeys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "post": {
        "summary": "Create an API key",
        "operationId": "CreateAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyCreate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid request body or validation error.\nError codes: `invalid_request`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "value": {
                      "code": "invalid_request",
                      "message": "Invalid request body: json: cannot unmarshal string into Go struct field"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `create_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "create_error": {
                    "value": {
                      "code": "create_error",
                      "message": "Failed to create API key: failed to save API key"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API keys",
        "operationId": "ListAPIKeys",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          },
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid pagination parameters.\nError codes: `invalid_pagination`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_pagination": {
                    "value": {
                      "code": "invalid_pagination",
                      "message": "page number must be at least 1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `list_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "list_error": {
                    "value": {
                      "code": "list_error",
                      "message": "Failed to list API keys: failed to query API keys"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/apikeys/{apikey_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/APIKeyIdPath"
        }
      ],
      "get": {
        "summary": "Get API key details",
        "operationId": "GetAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - API key does not exist or has been deleted.\nError codes: `not_found`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "code": "not_found",
                      "message": "API key not found: b9d0e02cb283477aa6e174053934b0e4"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an API key",
        "operationId": "UpdateAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid request body or validation error.\nError codes: `invalid_request`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "value": {
                      "code": "invalid_request",
                      "message": "Invalid request body: json: cannot unmarshal string into Go struct field"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - API key does not exist or has been deleted.\nError codes: `not_found`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "code": "not_found",
                      "message": "API key not found: b9d0e02cb283477aa6e174053934b0e4"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `update_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "update_error": {
                    "value": {
                      "code": "update_error",
                      "message": "Failed to update API key: failed to update API key"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an API key",
        "operationId": "DeleteAPIKey",
        "tags": [
          "APIKeys"
        ],
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "API key deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.\nError codes: `authentication_required`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "authentication_required": {
                    "value": {
                      "code": "authentication_required",
                      "message": "authentication required: failed to get user info from context"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have admin or owner role to manage API keys.\nError codes: `insufficient_permissions`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "value": {
                      "code": "insufficient_permissions",
                      "message": "you must have admin or owner role to manage API keys"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - API key does not exist or has been deleted.\nError codes: `not_found`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "code": "not_found",
                      "message": "API key not found: b9d0e02cb283477aa6e174053934b0e4"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Service or database error occurred.\nError codes: `service_error`, `delete_error`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "delete_error": {
                    "value": {
                      "code": "delete_error",
                      "message": "Failed to delete API key: failed to delete API key"
                    }
                  },
                  "service_error": {
                    "value": {
                      "code": "service_error",
                      "message": "failed to initialize API key service: APIKEY_SIGNING_SECRET environment variable is not set"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/my_resources": {
      "get": {
        "summary": "List my resources",
        "operationId": "ListMyResources",
        "tags": [
          "Account"
        ],
        "description": "List all resources (organizations and tenants) that the current user belongs to.\nThis endpoint combines the functionality of listing organizations and tenants into a single call.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's resources (organizations and tenants)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyResources"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/my_tenants": {
      "get": {
        "summary": "List my tenants",
        "operationId": "ListMyTenants",
        "tags": [
          "Tenants",
          "Account"
        ],
        "description": "List the current user's tenants.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tenant"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/data/role": {
      "get": {
        "summary": "Get Organization Roles",
        "operationId": "GetOrganizationRoles",
        "tags": [
          "Organizations"
        ],
        "description": "Retrieve available roles for organization members",
        "responses": {
          "200": {
            "description": "List of available organization roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationRoleEnum"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations": {
      "post": {
        "summary": "Create a Organization",
        "operationId": "CreateOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Create a Organization including: **Name, Description, Custom Domain, Billing Address, Domain, Organization Id, Archive At, Metadata, Stripe Customer Id, Memberships, Apikey, Billing Info**\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/domain/check": {
      "parameters": [
        {
          "name": "domain",
          "in": "query",
          "required": true,
          "description": "Organization domain name to check. \n`*.stayforge.app`, can only contain lowercase letters and -\n",
          "schema": {
            "type": "string",
            "minLength": 4,
            "maxLength": 64,
            "pattern": "^[a-z0-9-]+\\.stayforge\\.app$",
            "example": "my-org.stayforge.app"
          }
        }
      ],
      "get": {
        "summary": "Check whether the organization domain name is occupied",
        "operationId": "CheckOrganizationDomain",
        "tags": [
          "Organizations"
        ],
        "description": "`*.stayforge.app`, can only contain lowercase letters and -\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean",
                      "description": "Whether the domain is available"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain being checked"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "Get a Organization information",
        "operationId": "GetOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Get all information about the Organization, including: **Name, Description, Custom Domain, Billing Address, Domain, Organization Id, Archive At, Metadata, Stripe Customer Id, Memberships, Apikey, Billing Info**\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a Organization.",
        "operationId": "UpdateOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Update all or part of organization information.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Organization",
        "operationId": "DeleteOrganization",
        "tags": [
          "Organizations"
        ],
        "description": "Delete a Organization. **You must **cancel all Subscriptions and delete all Tenant** within the organization** before deleting them. Otherwise, payment will continue to be deducted after deletion.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/memberships": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "List organization memberships",
        "operationId": "ListOrganizationMemberships",
        "tags": [
          "Organizations"
        ],
        "description": "List all memberships of the organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization memberships",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationMembershipResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add member to organization",
        "operationId": "CreateOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Add a new member to the organization. Requires admin or owner role.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationMembershipCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/memberships/{member_sub}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        },
        {
          "$ref": "#/components/parameters/MemberSubPath"
        }
      ],
      "get": {
        "summary": "Get organization membership",
        "operationId": "GetOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Get a specific membership in the organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization membership information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembershipResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update organization membership",
        "operationId": "UpdateOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Update a member's role in the organization. Requires admin or owner role.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationMembershipUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove member from organization",
        "operationId": "DeleteOrganizationMembership",
        "tags": [
          "Organizations"
        ],
        "description": "Remove a member from the organization. Requires admin or owner role. Cannot remove the last owner.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Membership deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/tenants": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "get": {
        "summary": "List tenants in Organization",
        "operationId": "ListOrganizationTenants",
        "tags": [
          "Organizations",
          "Tenants"
        ],
        "description": "List all tenants of organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tenant"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/tenant/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIdPath"
        }
      ],
      "post": {
        "summary": "Create a tenant in Organization",
        "operationId": "CreateOrganizationTenant",
        "tags": [
          "Organizations",
          "Tenants"
        ],
        "description": "Create a tenant in organization.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/data/environment": {
      "get": {
        "summary": "Get Environment Types",
        "operationId": "GetTenantEnvironments",
        "tags": [
          "Tenants"
        ],
        "description": "Retrieve available environment types for tenants",
        "responses": {
          "200": {
            "description": "List of available environment types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantEnvironmentEnum"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/data/role": {
      "get": {
        "summary": "Get Tenant Roles",
        "operationId": "GetTenantRoles",
        "tags": [
          "Tenants"
        ],
        "description": "Retrieve available roles for tenant members",
        "responses": {
          "200": {
            "description": "List of available tenant roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantRoleEnum"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/{tenant_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantIdPath"
        }
      ],
      "get": {
        "summary": "Get a Tenant information",
        "operationId": "GetTenant",
        "tags": [
          "Tenants"
        ],
        "description": "Get all information about the Tenant, including: **Name, Description, Environment, Parent Organization, Tenant Id, Archive At, Metadata, Memberships, Apikey**\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a Tenant.",
        "operationId": "UpdateTenant",
        "tags": [
          "Tenants"
        ],
        "description": "Update all or part of tenant information.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Tenant",
        "operationId": "DeleteTenant",
        "tags": [
          "Tenants"
        ],
        "description": "Delete a Tenant. **You must cancel all subscriptions within the tenant** before deleting them. Otherwise, payment will continue to be deducted after deletion.\n",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/{tenant_id}/memberships": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantIdPath"
        }
      ],
      "get": {
        "summary": "List tenant memberships",
        "operationId": "ListTenantMemberships",
        "tags": [
          "Tenants"
        ],
        "description": "List all memberships of the tenant.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant memberships",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantMembershipResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add member to tenant",
        "operationId": "CreateTenantMembership",
        "tags": [
          "Tenants"
        ],
        "description": "Add a new member to the tenant. Requires admin or owner role.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantMembershipCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/{tenant_id}/memberships/{member_sub}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantIdPath"
        },
        {
          "$ref": "#/components/parameters/MemberSubPath"
        }
      ],
      "get": {
        "summary": "Get tenant membership",
        "operationId": "GetTenantMembership",
        "tags": [
          "Tenants"
        ],
        "description": "Get a specific membership in the tenant.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant membership information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantMembershipResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update tenant membership",
        "operationId": "UpdateTenantMembership",
        "tags": [
          "Tenants"
        ],
        "description": "Update a member's role in the tenant. Requires admin or owner role.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantMembershipUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove member from tenant",
        "operationId": "DeleteTenantMembership",
        "tags": [
          "Tenants"
        ],
        "description": "Remove a member from the tenant. Requires admin or owner role. Cannot remove the last owner.",
        "security": [
          {
            "UserAccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Membership deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API Key authentication using X-API-Key header.\nAPI keys must be prefixed with `sk_live_`.\nAll API keys are organization-level only.\nInclude the API key in the X-API-Key header as: `X-API-Key: <api_key>`\nGet your API key from the [dash.stayforge.io/settings/apikeys](https://dash.stayforge.io/settings/apikeys).\n"
      },
      "UserAccessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "User's Access Token authentication using Bearer token.\nInclude the token in the Authorization header as: `Authorization: Bearer <token>`\nThis authentication method is used for API Key management endpoints.\nUsers must have admin or owner role in the organization to manage API keys.\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message describing what went wrong",
            "example": "API key not found: b9d0e02cb283477aa6e174053934b0e4"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code for programmatic error handling.\nCommon error codes:\n- `authentication_required`: Missing or invalid authentication token (401)\n- `insufficient_permissions`: User lacks required permissions (403)\n- `not_found`: Requested resource not found (404)\n- `invalid_request`: Request body validation failed (400)\n- `invalid_pagination`: Pagination parameters are invalid (400)\n- `create_error`: Failed to create resource (500)\n- `update_error`: Failed to update resource (500)\n- `delete_error`: Failed to delete resource (500)\n- `list_error`: Failed to list resources (500)\n- `service_error`: Internal service error (500)\n",
            "example": "not_found"
          },
          "details": {
            "type": "object",
            "description": "Additional error details (optional, structure varies by error type)",
            "additionalProperties": true
          }
        }
      },
      "CardProperties": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "nullable": true,
            "minLength": 3,
            "maxLength": 128,
            "description": "Descriptive name for the card."
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "device-001",
              "device-002"
            ],
            "description": "List of device IDs associated with the card.\nEach device_id must be registered within the organization.\nDevice IDs can only contain lowercase letters, hyphens (-), and underscores (_).\n"
          },
          "effective_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Effective time (when the card becomes active).\nMust be the current time or a future time.\nDefault: UTC, recommended to use the format `2025-02-16T12:00:00+01:00` to ensure the correct time zone.\nAbout ISO 8601: https://en.wikipedia.org/wiki/ISO_8601\n"
          },
          "invalid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Invalidation time (when the card becomes invalid/expires).\nMust be the current time or a future time.\nDefault: UTC, recommended to use the format `2025-02-16T12:00:00+01:00` to ensure the correct time zone.\nAbout ISO 8601: https://en.wikipedia.org/wiki/ISO_8601\n"
          }
        }
      },
      "Card": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CardProperties"
          },
          {
            "type": "object",
            "required": [
              "id",
              "organization_id",
              "number"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "organization_id": {
                "type": "string"
              },
              "number": {
                "type": "string",
                "minLength": 8,
                "maxLength": 256,
                "description": "Card No. (must be unique within your organization)."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "Pagination": {
        "type": "object",
        "required": [
          "page",
          "limit",
          "total",
          "total_pages"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Number of items per page",
            "example": 20
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of items",
            "example": 100
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of pages",
            "example": 5
          },
          "has_next": {
            "type": "boolean",
            "description": "Whether there is a next page",
            "example": true
          },
          "has_prev": {
            "type": "boolean",
            "description": "Whether there is a previous page",
            "example": false
          },
          "next_page_url": {
            "type": "string",
            "nullable": true,
            "description": "URL for the next page (includes page and limit as query parameters)",
            "example": "/v1/cards/org_123?page=2&limit=20"
          },
          "prev_page_url": {
            "type": "string",
            "nullable": true,
            "description": "URL for the previous page (includes page and limit as query parameters)",
            "example": "/v1/cards/org_123?page=1&limit=20"
          },
          "first_page_url": {
            "type": "string",
            "description": "URL for the first page (includes page=1 and limit as query parameters)",
            "example": "/v1/cards/org_123?page=1&limit=20"
          },
          "last_page_url": {
            "type": "string",
            "description": "URL for the last page (includes last page number and limit as query parameters)",
            "example": "/v1/cards/org_123?page=5&limit=20"
          }
        }
      },
      "CardListResponse": {
        "type": "object",
        "required": [
          "cards",
          "pagination"
        ],
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CardInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CardProperties"
          }
        ]
      },
      "CardUpdate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CardProperties"
          },
          {
            "type": "object",
            "properties": {
              "number": {
                "type": "string",
                "minLength": 8,
                "maxLength": 256,
                "nullable": true,
                "description": "Card No. (must be unique within your organization)."
              }
            }
          }
        ]
      },
      "DeviceStatus": {
        "type": "string",
        "enum": [
          "active",
          "paused"
        ],
        "description": "Device status. Only devices with status \"active\" will be billed.\n- active: Device is active and will be billed\n- paused: Device is paused and will not be billed\n"
      },
      "DeviceProperties": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 256,
            "pattern": "^[a-z_-]+$",
            "description": "Device identifier (must be unique within the tenant).\nOnly lowercase letters, hyphens (-), and underscores (_) are allowed.\n"
          },
          "sn": {
            "type": "string",
            "nullable": true,
            "description": "Serial number of the device."
          },
          "display_name": {
            "type": "string",
            "nullable": true,
            "minLength": 3,
            "maxLength": 128,
            "description": "Human-readable name for the device."
          },
          "price_id": {
            "type": "string",
            "nullable": true,
            "description": "Stripe price ID for billing purposes."
          },
          "status": {
            "$ref": "#/components/schemas/DeviceStatus"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Device configuration and metadata (JSON object)."
          }
        }
      },
      "Device": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceProperties"
          },
          {
            "type": "object",
            "required": [
              "id",
              "tenant_id",
              "device_id",
              "model"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique device identifier (UUID)."
              },
              "tenant_id": {
                "type": "string",
                "description": "Tenant identifier that owns this device."
              },
              "device_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256,
                "pattern": "^[a-z_-]+$",
                "description": "Device identifier (must be unique within the tenant).\nOnly lowercase letters, hyphens (-), and underscores (_) are allowed.\n"
              },
              "model": {
                "type": "string",
                "readOnly": true,
                "description": "Device model. Currently returns a fixed value \"VGUANG-M350\" for all devices.\nThis field is not stored in the database and is dynamically computed in API responses.\nFuture: Will be determined by querying product database using serial number.\n",
                "example": "VGUANG-M350"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Device creation timestamp."
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Device last update timestamp."
              }
            }
          }
        ]
      },
      "DeviceListResponse": {
        "type": "object",
        "required": [
          "devices",
          "pagination"
        ],
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "DeviceInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceProperties"
          }
        ]
      },
      "DeviceUpdate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DeviceProperties"
          },
          {
            "type": "object",
            "properties": {
              "device_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256,
                "nullable": true,
                "pattern": "^[a-z_-]+$",
                "description": "Device identifier (must be unique within the tenant).\nOnly lowercase letters, hyphens (-), and underscores (_) are allowed.\n"
              },
              "sn": {
                "type": "string",
                "nullable": true
              },
              "display_name": {
                "type": "string",
                "nullable": true,
                "minLength": 3,
                "maxLength": 128
              },
              "price_id": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "$ref": "#/components/schemas/DeviceStatus"
              },
              "metadata": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true
              }
            }
          }
        ]
      },
      "APIKeyStatus": {
        "type": "string",
        "enum": [
          "active",
          "suspended"
        ],
        "description": "Status of the API key"
      },
      "APIKeyUpdate": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "minLength": 4,
            "maxLength": 128,
            "description": "Name/description of the API key",
            "example": "Production API Key"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Allowed Permissions (scope:role format) for the API key",
            "example": [
              "cards:read",
              "cards:write"
            ]
          },
          "allowed_ips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Allowed IP ranges (CIDR) for this API key",
            "example": [
              "0.0.0.0/0",
              "32.68.123.64/32"
            ]
          },
          "allowed_tenants": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tenant IDs that this API key can access.\nIf empty or null, the API key can access all tenants within the organization.\nIf specified, the API key can only access the listed tenants.\n",
            "example": [
              "ten_xxxxxxxxxx",
              "ten_yyyyyyyyyy"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/APIKeyStatus",
            "description": "Status of the API key"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for the API key",
            "example": [
              "production",
              "backend"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional metadata for the API key",
            "example": {
              "environment": "production",
              "team": "backend"
            }
          }
        }
      },
      "APIKeyInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/APIKeyUpdate"
          },
          {
            "type": "object",
            "properties": {
              "subject_id": {
                "type": "string",
                "description": "This can be a tenant_id or organization_id. The API key will be scoped to this organization or tenant.\nDEPRECATED: This field is automatically set from the URL path and will be removed in a future version.\nDo not provide this field in the request body.\n",
                "example": "org_xxxxxxxxxx"
              },
              "created_by": {
                "type": "string",
                "description": "User identifier of the user who created the API key.\nDEPRECATED: This field is automatically set from the authenticated user and will be removed in a future version.\nDo not provide this field in the request body.\n",
                "example": "user|xxxxxxxxxxxxxxx"
              },
              "ttl": {
                "type": "integer",
                "nullable": true,
                "description": "TTL of the API key in seconds. If not set, the default TTL is used.",
                "example": 3600
              }
            }
          }
        ]
      },
      "APIKeyInDB": {
        "allOf": [
          {
            "$ref": "#/components/schemas/APIKeyInput"
          },
          {
            "type": "object",
            "required": [
              "apikey_id",
              "organization_id",
              "created_at",
              "secret_masked",
              "is_suspended"
            ],
            "properties": {
              "apikey_id": {
                "type": "string",
                "description": "Unique identifier for the API key (external ID)",
                "example": "a1b2c3d4e5f6..."
              },
              "organization_id": {
                "type": "string",
                "description": "Organization ID that owns this API key",
                "example": "org_xxxxxxxxxx"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Creation timestamp"
              },
              "secret_masked": {
                "type": "string",
                "description": "Masked secret key (for display purposes)",
                "example": "sk_live_abc***xyz"
              },
              "is_suspended": {
                "type": "boolean",
[...]
